* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

.global-container {
    padding: 8px;
}

.menu-bar {
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

#reset-button {
    width: 50px;
}

.cell {
    margin: 0px;
    padding: 0px;
    border: 3px solid grey;
    height: 30px;
    width: 30px;

    color: grey;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.1s;
}

.mine {
    border: 3px solid maroon;
    background-color: white;
}

.mine {
    background-image: url("./../resources/images/mine.png");
    background-size: contain;
}
