@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

.global-container {
    padding: 8px;
}

.menu-bar {
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

#reset-button {
    width: 50px;
}

#parent-grid {
    position: relative;
    width: 320px;
}

#settings-button {
    position: absolute;
    transition: 0.1s ease-in-out;
}

#settings-button:hover {
    transform: scale(1.3);
}

#settings-button:active {
    filter: contrast(0);
}
.hide-block-css {
    display: none;
}
#change-defaults form {
    padding: 20px;
    background-color: white;
    position: fixed;

    border-radius: 8px;
    border: 2px solid grey;
}

#change-defaults form * {
    margin: 5px;
}
#change-defaults p {
    margin: 0;
}

#change-defaults-submit {
    background-color: rgb(226, 226, 226);
    padding: 5px;
    border: 1px solid black;
    border-radius: 2px;
}
#change-defaults-submit:active {
    background-color: grey;
    border: 1px solid grey;
}

.land-grid {
    position: absolute;
    padding-bottom: 8px;
}

.cell {
    margin: 0px;
    padding: 0px;
    border: 3px solid grey;
    height: 30px;
    width: 30px;

    color: grey;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mine {
    border: 3px solid maroon;
    background-color: white;
}

.mine {
    background-image: url("./../resources/images/mine.png");
    background-size: contain;
}

.land-curtain {
    position: absolute;
    padding-bottom: 8px;
}

.curtain-cell {
    margin: 0px;
    padding: 0px;
    border: 3px solid grey;
    height: 30px;
    width: 30px;

    background-color: darkgrey;

    display: flex;
    justify-content: center;
    align-items: center;
}

.curtain-cell:hover {
    transform: scale(1.1);
}

.transparent {
    filter: opacity(0);
}

.flag {
    background: url("./../resources/images/flag.png");
    background-size: contain;
}

#cookie img {
    width: 300px;
    height: 300px;
}

#cookie-quote {
    padding: 20px;
    background: url("./../resources/images/paper-texture.jpg");
    background-size: cover;
    font-family: "Indie Flower", cursive;
    font-size: 6mm;
}
